$ff: "Poppins", sans-serif;
$fs-16: 1rem;
$bg-white: hsl(0, 0%, 100%);
$text-primary: rgba(17, 24, 39, 1);
$text-secondary: rgba(107, 114, 128, 1);
$text-link-400: rgba(124, 58, 237, 1);
$text-link-600: rgba(91, 33, 182, 1);
